<div class="container">
        <div class="wrapper">
            <div class="header">
                <div class="row">
                    <div class="logo col-sm-8">
                        <h1>Task for magnise</h1>
                    </div>
                    <div class="search col-sm-4 float-right">
                        <input class="" type="text" placeholder="filter comments, type something">
                    </div>
                </div>
            </div>
            <div class="content">
                <ng-container *ngTemplateOutlet="treeViewList;
                                                context:{$implicit:comments}">
                </ng-container>
                <ng-template #treeViewList let-list>
                    <ul>
                        <li *ngFor="let item of list; let i = index">
                            <div>
                                {{ item.text }}
                                <button class="btn btn-danger">Remove comment</button>
                            </div>
                            <div>
                                <textarea type="text"></textarea>
                                <button class="btn btn-primary">AddComment</button>
                            </div>
                            <ng-container *ngTemplateOutlet="treeViewList;
                                        context:{$implicit: item.subComments}"></ng-container>
                        </li>
                    </ul>
                </ng-template>
                
            </div>
        </div>
</div>