.wrapper {
    padding-top: 30px;
}

.search {
    height: initial;
}

ul, li {
    list-style: none;
}

.nested li {
    margin-left: 1em;
}

.comment {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

.comment p {
    word-break: break-all;
}

ul.nested li ul {
    border-left: 1px solid #333;
    position: relative;
}

ul.nested li ul::after {
    content: '';
    width: 3em;
    top: 2em;
    left: 6px;
}



